@import url('link: https://www.fontspace.com/evil-empire-font-f41587');
.container {
  background-color: yellowgreen;
  margin: auto;
  margin-right:700px;
  margin-top: 10em;
  justify-self: center;
  border-radius: 0.4rem;
  height: 40rem;
  width: 30rem;
  color: white;
    font-family:'Evil Empire', sans-serif; 
   font-weight: lighter;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-image: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=740&t=st=1683864930~exp=1683865530~hmac=b68f2d360e533fd46d9cb33abce8d182d59168f8c58a035c34962450496d4084");
}
#btn-even {
  padding: auto;
  margin-right: 5rem;
  margin-top: 5rem;
  padding: 0.5rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  margin-top: 3.5em;
  border: solid;
  color: white;
 font-weight: lighter;
   background-color: transparent;
  font-size: 1.9rem;
  font-family:'Evil Empire', sans-serif; 
 font-style: italic;
  cursor: pointer;
   border-top-left-radius: 0.5rem;

}
#btn-even:hover {
  color: yellow;
}
#btn-odd {
  padding: auto;

  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 1.9rem;
  margin-top: 3.5em;
  border: solid;
  background-color: transparent;
  color: white;
  font-size: 1.9rem;
  font-family:'Evil Empire', sans-serif; 
  font-style: italic;
  cursor: pointer;
  font-weight: lighter;
  border-top-left-radius: 0.5rem;
}
h1{
  padding-top: 0.6em;
}
#btn-odd:hover{
   color: yellow;
}
#num-random {
  border: solid;
  border-radius: 100%;
  width: 1.4rem;
  padding: 2rem;
  margin-left: 12rem;
  margin-top: 3rem;
  font-size: x-large;
    font-family:'Evil Empire', sans-serif; 

}
#btn-quit {
  margin-right: 8rem;
  margin-top: 2em;
  border: none;
  background-color: transparent;
  
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  cursor: pointer;
 
}
#btn-quit:hover {
  color: yellow;
}

#correct-value {
  margin-left: -22rem;
  color: Yellow;
    font-family:'Evil Empire', sans-serif; 
     font-size: large;
     font-weight: bold;

}
#Guess-Number{
  color: yellow;
}
#incorrect-value {
  margin-left: 20rem;
  margin-top: -2.5rem;
  color: red;
  font-family:'Evil Empire', sans-serif; 
  font-size: large;

}
#btn-lose{
  

  padding: 0.5rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  
  border: solid;
  background-color: transparent;
  color: red;
  font-size: 1.9rem;
  font-family:'Evil Empire', sans-serif; 
  font-style: italic;
  cursor: pointer;
  font-weight: lighter;
  border-top-left-radius: 0.5rem;

}
#btn-win{
   padding: 0.5rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  
  border: solid;
  background-color: transparent;
  color: yellow;
  font-size: 1.9rem;
  font-family:'Evil Empire', sans-serif; 
  font-style: italic;
  cursor: pointer;
  font-weight: lighter;
  border-top-left-radius: 0.5rem;
}
.popup-lose{
color: red;
margin-top: 4rem;
  font-family:'Evil Empire', sans-serif; 
    animation: bounce 1s;

}
.popup-win{
color: yellow;
margin-top: 4rem;
  animation: bounce 1s;
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 767px) {

 .container{
  margin: auto;
  margin-top: 10em;
 }

}